*.app
*.g.xlf
*.zip
*.flf
TestResults.xml
BuildOutput.txt
rad.json
launch.json
cache_*
.output
.alcache/
.altemplates/
extraction-manifest.json
.claude/Symbols
.claude/hooks/
*.ps1
AL/build.ps1
TestResults
